# Processamento de Dados
pandas<3.0
numpy
openpyxl

# Modelagem e Séries Temporais
sktime
statsforecast
scikit-learn
lightgbm

# APIs e Dados Externos
sidrapy

# Utilidades e Visualização
joblib
matplotlib
seaborn